@CHARSET "UTF-8";
.BODY {
	font-family: Arial Narrow;
	width: 100%;
    margin: 0 auto; 
	background-color: #cfaab3;
    padding-top: 10px;
}
.flex {
    display: flex; 
    justify-content: right; 
    align-items: right;
}

h1 {
  background-color: white;
  opacity: 0.6;
  height: 90px;
  background-position: center;
  background-repeat: no-repeat;
}

.table2 {
  border-collapse: collapse;
  width: 100%;
}

th {
  padding: 0.2rem;
  background: #9C4F5F;
  color: white;
  text-align: left;
  border: 1px solid #555555;
    font-family: Arial Narrow;
    font-weight: 500;
}

td {
  padding: 0.2rem;
  text-align: left;
  border: 1px solid #555555;
    font-family: Arial Narrow;
    font-weight: 300;
}

p {
    font-family: Arial Narrow;
}

.table_content {
    padding: 0.2rem;
    background: lightgrey;
    color: black;
    text-align: left;
    border: 1px solid #555555;
}


.title1 {

    margin-top: 40px;
    color: #7C3144;
    font-weight: 400;
    font-size: x-large;
}

h3 {

    text-align: center;
}

h2 {

    font-family: Arial Narrow;
}

.subline {
background-color: #cfaab3;
    padding-top: 40px;
    padding-left: 75px;
    padding-bottom: 40px;
}

#title_title {

    margin-top: 20px;
    margin-bottom: 20px;
}

#btn_list {

    float: right;
}

.content {

    padding-top: 20px;
    padding-bottom: 20px;
}

#detail_template {

    padding-bottom: 20px;
}

.background_img {

    background-image: url("/img/titelbild.PNG");
    height: 630px;
    padding-top: 500px;
}

#start_btn {

    display: block;
    margin-left: auto;
    margin-right: auto;
}

a {

    color: #7C3144 !important;

}

a:hover {

    color: #1d1e1f !important;
}

a:focus {

    color: #1d1e1f !important;
}

#error_list{
	margin-top: 10px;
	margin-bottom: 20px;
}



#outerFilterDiv
{
    width:100%;
    text-align: center;
}
.innerFilterDiv
{
    display: inline-block;
}

.card-img-top{
    height:150px;
}

.card {
    margin-bottom: 20px;
}

.card-body {
    padding: 5px;
}

.imp {

    margin-top: 50px;
}