
/*

            Color Theme Swatches in Hex
            .Kitchen-1-hex { color: #2E4F6B; }
            .Kitchen-2-hex { color: #990022; }
            .Kitchen-3-hex { color: #730021; }
            .Kitchen-4-hex { color: #F6F1DE; }
            .Kitchen-5-hex { color: #E0D7C1; }

            Color Theme Swatches in RGBA
            .Kitchen-1-rgba { color: rgba(45, 79, 107, 1); }
            .Kitchen-2-rgba { color: rgba(153, 0, 33, 1); }
            .Kitchen-3-rgba { color: rgba(114, 0, 33, 1); }
            .Kitchen-4-rgba { color: rgba(246, 240, 221, 1); }
            .Kitchen-5-rgba { color: rgba(223, 214, 193, 1); }

*/


/*Startseite*/

.masthead {
    height: 100px;
    min-height: 500px;
    background-image: url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.navbar-toggler {
    float: right;
}



#navbarResponsive {
    float: right;
    margin-top: 50px;
}


/* Dashboard */

.navbar {

    background-color: white;
    border-bottom: 1px solid #730021;
}

.Dashboard {

    background-color: #f1f1f1;
}

#startSite{

    margin-top: 30px;
    margin-bottom: 15px;

}

.navbar-brand {

    color: #730021 !important;
    font-weight: 600;
}


.btn-danger {

    background-color: #730021;
    border-color: #730021;
}

.newQuestion {
    position: absolute;
}

