<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<link href="../css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="../css/basic.css">
<title>Categories</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

	<div class="flex">
		<a href="http://localhost:4567/"> <img src="../img/INVENDO_2.PNG"
			th:src="@{../img/INVENDO_2.PNG}" width="250" alt="Bild">
		</a>
	</div>

	<div class="BODY">
		<div class="container" id="detail_template">
			<div class="card-body" th:if="${errors != null and errors.size!=0}">
				<h5 h5 class="mb-0">Fehlermeldung</h5>
				<div id="error_list" class="card-body">
					<ul class="list-group" th:each="error : ${errors}">
						<li class="list-group-item" th:text="${error}"></li>

					</ul>
				</div>
			</div>


			<h2 Kategorien></h2>


		</div>

		<div class="container">
			<div class="content">

				<table class="table">
					<thead>
						<tr>
							<th scope="col">Name</th>
							<th scope="col">Menge</th>
							<th scope="col"></th>
						</tr>
					</thead>
					<tbody th:each="item : ${categories}">
						<tr>
							<th class="table_content" scope="row" th:text="${item.getName()}">Ding
								1</th>


							<th class="table_content" scope="row"
								th:text="${item.getDescription()}">99</th>


							<th class="table_content" scope="row"><button type="button"
									class="btn btn-dark">
									<a href="" th:href="${'/category/delete?id=' + item.getId()}">löschen</a>
								</button></th>

						</tr>
					</tbody>
				</table>



			</div>

			<div class="row">


				<div class="col-sm">
					<a href="/"><button type="button" class="btn btn-secondary">Zurück</button></a>

				</div>
			</div>





		</div>
</body>
</html>
