<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<link href="../../css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="../../css/basic.css">
<title>Item Detail</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
	<div class="flex">
		<a href="http://localhost:4567/"> <img
			src="../../img/INVENDO_2.PNG" th:src="@{../../img/INVENDO_2.PNG}"
			width="250" alt="Bild">
		</a>

	</div>
	<div class="BODY">

		<div class="container">
			<div class="card-body" th:if="${errors != null and errors.length!=0}">
				<h5 h5 class="mb-0">Fehlermeldung</h5>
				<div id="error_list" class="card-body">
					<ul class="list-group" th:each="error : ${errors}">
						<li class="list-group-item" th:text="${error}"></li>

					</ul>
				</div>
			</div>
			<div>
				<a th:object="${itemDetail}" href=""
					th:href="${'/list/item/category?list=' + itemDetail.list + '&id='+ itemDetail.id}"><button
						type="button" class="btn btn-secondary btn-lg" id="start_btn">Neue
						Kategorie hinzufügen</button></a>
			</div>
			<h2>Neuer Artikel erfassen</h2>

			<form action="#" th:action="${postAction}" method="post"
				id="item-form" th:object="${itemDetail}">
				<input type="hidden" name="itemDetail.id" th:value="*{id}" /> <input
					type="hidden" name="itemDetail.list" th:value="*{list}" />

				<div class="input-group mb-3">
					<input type="text" placeholder="Item" class="form-control"
						name="itemDetail.name" th:value="*{name}" required>
				</div>

				<div class="input-group mb-3">
					<input type="number" placeholder="Lager" class="form-control"
						name="itemDetail.stock" th:value="*{stock}" required>
				</div>


				<div class="input-group mb-3">
					<input type="text" placeholder="Beschreibung" class="form-control"
						name="itemDetail.description" th:value="*{description}">
				</div>

				<div class="form-group">

					<select class="form-control" name="itemDetail.categoryId" required>
						<option value="0" th:disabled="disabled" th:selected="selected">Kategorie</option>
						<option th:each="category : ${itemDetail.getCategories()}"
							th:value="${category.getId()}"
							th:selected="(${category.id} == ${itemDetail.getCategoryId()})"
							th:text="${category.name}" />
					</select>
				</div>

				<div class="input-group mb-3">
					<input type="text" placeholder="Lagerort" class="form-control"
						name="itemDetail.storagelocation" th:value="*{storagelocation}">
				</div>

				<div class="form-group row">
					<label class="col-2 col-form-label">Ablaufdatum</label>
					<div class="col-10">
						<input class="form-control" type="date" id="example-date-input"
							name="itemDetail.expirydate" th:value="*{expirydate}" required>
					</div>
				</div>

			</form>

			<div class="row" id="detail_template">
				<div class="col-sm-6">
					<button class="btn btn-secondary" type="submit" form="item-form">Item
						Speichern</button>
				</div>
				<div class="col-sm-6">
					<a th:href="${backButton}"><button class="btn btn-secondary">Zurück</button></a>
				</div>
			</div>




		</div>
</body>
</html>
