<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<link href="css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="../static/css/basic.css"
	th:href="@{css/basic.css}">
<title>Invendo</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>


	<div class="background_img">

		<button type="button" class="btn btn-secondary btn-lg" id="start_btn">
			<a href="/list">Neue Liste erstellen</a>
		</button>


	</div>


	<div class="container">
		<div class="row" id="title_title">
			<div class="col-6">
				<h2>Verfügbare Listen</h2>
			</div>
			<div class="col-6">



			</div>
		</div>




		<div class="row">
			<div class="col-9">



				<table class="table">
					<thead>
					<tr>
						<th scope="col">Liste</th>
						<th scope="col">Beschreibung</th>
						<th scope="col"></th>
						<th scope="col"></th>
					</tr>
					</thead>
					<tbody th:each="list : ${list}">
					<tr>
						<th class="table_content" scope="row" th:text="${list.getName()}">Liste
							1></th>


						<th class="table_content" scope="row"
							th:text="${list.getDescription()}">Dies ist Liste 1</th>


						<th class="table_content" scope="row">
							<button type="button" class="btn btn-dark">
								<a href="" th:href="${'/list?id=' + list.getId()}">bearbeiten</a>
							</button>
						</th>


						<th class="table_content" scope="row"><button type="button"
																	  class="btn btn-dark">
							<a href="" th:href="${'/list/delete?id=' + list.getId()}">löschen</a>
						</button></th>

					</tr>
					</tbody>
				</table>

				<button type="button" class="btn btn-secondary btn-lg" id="start_btn">
					<a href="/category/delete">Kategorien löschen</a>
				</button>
				<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

				<div class="imp">
					<h5>Impressum</h5>
				</div>

				<p>Dies ist ein Projekt der BFH im Modul Team Oriented Software
					Engineering, entwickelt von:</p>


				<div class="row">
					<div class="col">

						<div class="card" style="width: 18rem;">
							<img src="https://cutt.ly/XyPxC98" class="card-img-top" alt="...">
							<div class="card-body">
								<h5 class="card-title">Michelle Schmid</h5>
								<p class="card-text"><a href = "mailto: michelle.schmid@students.bfh.ch">michelle.schmid@students.bfh.ch</a></p>

							</div>
						</div>


						<div class="card" style="width: 18rem;">
							<img src="https://cutt.ly/XyPxC98" class="card-img-top" alt="...">
							<div class="card-body">
								<h5 class="card-title">Jonas Baschung</h5>
								<p class="card-text"><a href = "mailto: jonasmartin.baschung@students.bfh.ch">jonasmartin.baschung@students.bfh.ch</a></p>

							</div>
						</div>

						<div class="card" style="width: 18rem;">
							<img src="https://cutt.ly/XyPxC98" class="card-img-top" alt="...">
							<div class="card-body">
								<h5 class="card-title">Denise Schärer</h5>
								<p class="card-text"><a href = "mailto: denise.schaerer@students.bfh.ch">denise.schaerer@students.bfh.ch</a></p>

							</div>
						</div>

					</div>
					<div class="col">

						<div class="card" style="width: 18rem;">
							<img src="https://cutt.ly/XyPxC98" class="card-img-top" alt="...">
							<div class="card-body">
								<h5 class="card-title">Carol Gutknecht</h5>
								<p class="card-text"><a href = "mailto: carolann.gutknecht@students.bfh.ch">carolann.gutknecht@students.bfh.ch</a></p>

							</div>
						</div>

						<div class="card" style="width: 18rem;">
							<img src="https://cutt.ly/XyPxC98" class="card-img-top" alt="...">
							<div class="card-body">
								<h5 class="card-title">Marcel Ernst</h5>
								<p class="card-text"><a href = "mailto: marcel.ernst@students.bfh.ch">marcel.ernst@students.bfh.ch</a></p>

							</div>
						</div>

						<div class="card" style="width: 18rem;">
							<img src="https://cutt.ly/XyPxC98" class="card-img-top" alt="...">
							<div class="card-body">
								<h5 class="card-title">Dominique Marty</h5>
								<p class="card-text"><a href = "mailto: dominiquesebastian.marty@students.bfh.ch">dominiquesebastian.marty@students.bfh.ch</a></p>

							</div>
						</div>

					</div>
				</div>






			</div>



<!---
		<table class="">
			<thead>
				<tr>
					<th scope="col">Name</th>
					<th scope="col">Kontakt</th>

				</tr>
			</thead>
			<tbody th:each="person : ${personList}">
				<tr>
					<th class="table_content" scope="row"
						th:text="${person.getFullName()}">hene Pesche</th>


					<th class="table_content" scope="row"
						th:text="${person.getEmail()}">thiswasfun@google.com</th>

				</tr>
			</tbody>
		</table>

 -->

			<div class="col-3">


				<div class="accordion" id="accordionExample">
					<div class="card">
						<div class="card-header" id="headingOne">
							<h5 class="mb-0">
								<button class="btn btn-link btn-sm" id="start_btn" type="button"
										data-toggle="collapse" data-target="#collapseOne"
										aria-expanded="true" aria-controls="collapseOne">
									<a data-toggle="collapse" data-target="#collapseOne">Meldung</a>
								</button>
							</h5>
						</div>

						<div id="collapseOne" class="collapse show"
							 aria-labelledby="headingOne" data-parent="#accordionExample">
							<div class="card-body">

								<ul class="list-group" th:each="infos : ${infos}">
									<li class="list-group-item" th:text="${infos}"></li>

								</ul>

							</div>
						</div>
					</div>
				</div>


			</div>
		</div>





	</div>

	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"
		integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm"
		crossorigin="anonymous"></script>

</body>
</html>
