<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<link href="css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/css/basic.css">
<title th:text =${listTitle}></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script src="/js/filter.js"></script>
</head>

<body>

	<div class="flex">
		<a href="http://localhost:4567/"> <img src="img/INVENDO_2.PNG"
			th:src="@{img/INVENDO_2.PNG}" width="250" alt="Bild">
		</a>
	</div>

	<div class="BODY">
		<div class="container" id="detail_template">
			<div class="card-body" th:if="${errors != null and errors.length!=0}">
				<h5 h5 class="mb-0">Fehlermeldung</h5>
				<div id="error_list" class="card-body">
					<ul class="list-group" th:each="error : ${errors}">
						<li class="list-group-item" th:text="${error}"></li>

					</ul>
				</div>
			</div>


			<h2 th:text="${listTitle}"></h2>

			<form action="#" th:action="${postAction}" method="post"
				id="list-form" th:object="${listDetail}">
				<input class="form-control" type="hidden" name="listDetail.id"
					th:value="*{id}" />

				<div class="row">
					<div class="col-6">
						<input class="form-control" placeholder="Titel" type="text"
							name="listDetail.name" th:value="*{name}" />

					</div>
					<div class="col-6">
						<input class="form-control" type="text" placeholder="Beschreibung"
							name="listDetail.description" th:value="*{description}"
							size="100" />

					</div>
				</div>
		</div>

		</form>

	</div>

	<div id="outerFilterDiv">

		<div class="innerFilterDiv">

			<button class="filterbtn" onclick="filterSelection('all')">Alle</button>

		</div>

		<div class="innerFilterDiv" th:each="category : ${categories}">

			<button class="filterbtn" th:data1="${category.getName()}"
				th:onclick="filterSelection(this.getAttribute('data1'));"
				th:text="${category.getName()}"></button>

		</div>

	</div>


	<div class="container">
		<div class="content">

			<table class="table" id="itemsTable">
				<thead>
					<tr>
						<th scope="col">Name</th>
						<th scope="col">Menge</th>
						<th scope="col">Kategorie</th>
						<th scope="col">Lagerort</th>
						<th scope="col">Ablaufdatum</th>
						<th scope="col"></th>
						<th scope="col"></th>
					</tr>
				</thead>
				<tbody class="itemRow" id="banana" th:each="item : ${list}">
					<tr>
						<th class="table_content" scope="row" th:text="${item.getName()}">Ding
							1</th>

						<th class="table_content" scope="row" th:text="${item.getStock()}">99</th>

						<th class="table_content" scope="row"
							th:text="${item.getCategory().getName()}">Kategorie1</th>

						<th class="table_content" scope="row"
							th:text="${item.getStoragelocation()}">Location1</th>

						<th class="table_content" scope="row"
							th:text="${#dates.format(item.getExpirydate(), 'dd.MM.yyy')}">1.1.2001</th>


						<th class="table_content" scope="row">
							<button type="button" class="btn btn-dark">
								<a href=""
									th:href="${'/list/item?id=' + item.getId() + '&list=' + item.getList()}">bearbeiten</a>
							</button>
						</th>


						<th class="table_content" scope="row"><button type="button"
								class="btn btn-dark">
								<a href=""
									th:href="${'list/item/delete?id=' + item.getId()  + '&list=' + item.getList()}">löschen</a>
							</button></th>

					</tr>
				</tbody>
			</table>



		</div>

		<div class="row">
			<div class="col-sm">
				<a th:object="${listDetail}" href=""
					th:href="${'/list/item?list=' + listDetail.id}"><button
						type="button" class="btn btn-secondary">neues Item
						hinzufügen</button></a>

			</div>
			<div class="col-sm">

				<button class="btn btn-secondary" type="submit" form="list-form">Liste
					Speichern</button>
			</div>
			<div class="col-sm">
				<a href="/"><button type="button" class="btn btn-secondary">Zurück</button></a>

			</div>
		</div>





	</div>


</body>

</html>
