<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<link href="css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/css/basic.css">
<title>New List</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

	<div class="flex">
		<a href="http://localhost:4567/"> <img src="img/INVENDO_2.PNG"
			th:src="@{img/INVENDO_2.PNG}" width="250" alt="Bild">
		</a>
	</div>



	<div class="BODY">
		<div class="container" id="detail_template">


			<div class="card-body" th:if="${errors != null and errors.length!=0}">
				<h5 h5 class="mb-0">Fehlermeldung</h5>
				<div id="error_list" class="card-body">
					<ul class="list-group" th:each="error : ${errors}">
						<li class="list-group-item" th:text="${error}"></li>

					</ul>
				</div>
			</div>


			<form action="#" th:action="${postAction}" method="post"
				id="list-form" th:object="${listDetail}">
				<input class="form-control" type="hidden" name="listDetail.id"
					th:value="*{id}" />

				<div class="row">
					<div class="col-6">
						<input class="form-control" placeholder="Titel" type="text"
							name="listDetail.name" th:value="*{name}" required />

					</div>
					<div class="col-6">
						<input class="form-control" type="text" placeholder="Beschreibung"
							name="listDetail.description" th:value="*{description}"
							size="100" />

					</div>
				</div>
		</div>

		</form>

	</div>

	<div class="container">
		<div class="content">

			<table class="table">
				<thead>
					<tr>
						<th scope="col">Name</th>
						<th scope="col">Menge</th>
						<th scope="col"></th>
						<th scope="col"></th>
					</tr>
				</thead>
				<tbody th:each="item : ${list}">
					<tr>
						<th class="table_content" scope="row" th:text="${item.getName()}">Ding
							1</th>


						<th class="table_content" scope="row" th:text="${item.getStock()}">99</th>


						<th class="table_content" scope="row">
							<button type="button" class="btn btn-dark">
								<a href=""
									th:href="${'/list/item?id=' + item.getId() + '&list=' + item.getList()}">bearbeiten</a>
							</button>
						</th>


						<th class="table_content" scope="row"><button type="button"
								class="btn btn-dark">
								<a href=""
									th:href="${'list/item/delete?id=' + item.getId()  + '&list=' + item.getList()}">löschen</a>
							</button></th>

					</tr>
				</tbody>
			</table>



		</div>

		<div class="row">

			<div class="col-sm">

				<button class="btn btn-secondary" type="submit" form="list-form">Liste
					Speichern</button>
			</div>
			<div class="col-sm">
				<a th:href="${backButton}"><button type="button"
						class="btn btn-secondary">Zurück</button></a>

			</div>
		</div>





	</div>


</body>
</html>
